---
---

<div class="w-full flex absolute top-0 z-50 text-white">
  <div class="container mx-auto py-16 flex items-center">
    <ul class="flex ml-auto items-center">
      <li class="mx-8 uppercase text-lg font-light font-mono">News</li>
      <li class="mx-8 uppercase text-lg font-light font-mono">Events</li>
      <li class="mx-8 uppercase text-lg font-light font-mono">About</li>
      <li class="mx-8 uppercase text-lg font-light font-mono">Music</li>
    </ul>
    <h1 class="text-5xl mx-10" style="font-family: hacked;">EBNER</h1>
    <ul class="mr-auto flex items-center">
      <li class="mx-8 uppercase text-lg font-light font-mono">Pages</li>
      <li class="mx-8 uppercase text-lg font-light font-mono">Shop</li>
      <li class="mx-8 uppercase text-lg font-light font-mono">Contact</li>
      <li class="mx-8 uppercase text-lg font-light font-mono">Buy</li>
    </ul>
  </div>
</div>
